.contact {
    height: 100vh;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;
    position: relative;

}

.contact>.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.contact>.textContainer>.item1{
  display: flex;
  gap: 45px;
}
.contact>.textContainer>.item1>.git{
  color: red;
  font-style: italic;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.contact>.textContainer>h1{
    font-size: 90px;
    line-height: 88px;

}

.contact>.textContainer>span {
    font-weight: 300;
  }

  .contact>.formContainer {
    flex: 1;
    position: relative;
  }

  .contact>.formContainer>.phoneSvg {
    stroke: orange;
    position: absolute;
    margin: auto;
    z-index: -1;
  }

  .contact>.formContainer>form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .contact>.formContainer>form input,
      textarea {
        padding: 20px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 5px;
}

.contact>.formContainer>form>button {
    padding: 20px;
    border: none;
    background-color: orange;
    cursor: pointer;
    font-weight: 500;
}

@media (max-width: 738px){
  .contact{
    /* width: 100vw; */
    padding: 10px;
    gap: 10px;
    flex-direction: column;
  }
  .contact>.textContainer{
    gap: 20px;
      text-align: center;
      align-items: center;
      margin-top: 70px;
  }
  .contact>.textContainer>h1{
    font-size: 32px;
  }
  .formContainer{
    padding: 50px;
      width: 80%;
  }
  .contact>.formContainer>form input,
  textarea{
    padding: 10px;
}
.contact>.formContainer>form>button{
  padding: 10px;
}
.contact>.formContainer>.phoneSvg {
  display: none;
}

}


.svgback{
  width: 100px;
  height: 100px;
  background: white;
}